@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');

body {
    font-family: 'Bitter', serif;
    color: #110f10;
}

h1 {
    font-size: 3.4em;
    font-weight: 400;
    line-height: 1.6em;
}

h5 {
    color: rgb(255, 81, 0);
}

/* Inicio nav */


.nav-link {
    font-size: 0.8em;
}

.nav-link:hover {
    color:  rgb(255, 81, 0) !important;
}

.nav-item {
    margin: 10px;
}

.text-dark {
    font-weight: 400;
}

nav li:hover {
    transform: scale(1.1);
}

/* Termina nav */


/* Inicio index */

.header__index {
    background-image: url("../image/bg.1.jpg");
    height: 700px;
}

.index__boton {
    margin-left: 130px;
    margin-top: 100px;
    font-size: 1.2em;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    border-bottom-style:solid;
    border-bottom-width: 2px;
    text-decoration: none;
}

.index__boton:hover {
    padding-bottom: 10px;
    border-bottom-style:solid;
    border-bottom-width: 6px;
    transform: scale(1.1);
    color: rgb(255, 81, 0);
}

.text-orange {
    color: rgb(255, 81, 0);
}


/* Fin Index */

/* Inicio trabajos */

main {
    margin-bottom: 100px;
}

.card__trabajos {
    border: none;
    margin-top: 20px;
}


/* Fin trabajo */

/* Inicio sobre mi */


.imagen__sobremi {
    width: 80%;
    height: auto;
}

.titulo__sobremi {
    margin-left: 50px;
}

#titulo__sobremi--seccion {
    margin-left: 50px;
}

.parrafo__sobremi {
    line-height: 40px;
    width: 90%;
    font-size: 1.1em;
    margin-left:50px;
}

.titulo__sobremi--seccion {
    font-size: 1em;
    color: rgb(139, 139, 139);
    font-weight: 400;
    padding-top: 20px;
}

.subtitulo__sobremi--seccion {
    font-size: 1em;
    font-weight: 600;
}

#seccion1__sobremi {
    margin-left: 310px;
    margin-bottom: 150px;
}

#seccion2__sobremi {
    margin-right: 210px;
}

/* Inicio blog*/


#card__blog {
    border: none;
}



/* Termina blog*/


/* Inicia contacto*/


.img__contacto {
    margin-left: 120px;
}

.div__contacto {
  margin-left: 450px;
}

.div__contacto p {
    width: 80%;
    padding-left: 30px;
    line-height: 3;
}
/* Termina contacto */


/* Inicio footer */


footer a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.8em;
    margin: 0 10px;
}

footer a:hover {
    color: rgb(255, 81, 0);
}


.footer {
    background-color: #110f10;
    color: #ffffff;
    width: 100%;
}


/* Fin footer */

/* INICIO RESPONSIVE */


@media (max-width: 991.98px) {


/* inicio index */

.header__index {
    height: 1600px;
    }


/* fin index */


/* inicio sobre mi */

    #main {
        margin-bottom: 0;
    }

    #seccion2__sobremi {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 100px;
    }

    #seccion1__sobremi {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    #titulo__sobremi--seccion {
        margin-left: 0;
    }

    .titulo__sobremi {
        font-size: 1.6em;
        margin-left: 0;
    }
    
    .imagen__sobremi {
        width: 100%;
    }

    .parrafo__sobremi {
        margin-left: 0;
        font-size: 0.8em;
        width: 100%;
    }
}

/* fin sobre mi */




@media (max-width: 767.98px) {


    /* INICIO INDEX RESPONSIVE */

    .header__index {
        height: 1200px;
        }
    
    #titulo__index {
        font-size: 2em;
    }
    


     /* FIN INDEX RESPONSIVE */



     /* INICIO SOBRE MI RESPONSIVE */


    #titulo__sobremi--seccion {
        margin-left: 0;
    }

    .imagen__sobremi {
        width: 100%;
        border-radius: 0.3em;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #seccion1__sobremi {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .titulo__sobremi {
        font-size: 2.4em;
        font-weight: 400;
        color: #000000;
        margin-bottom: 1px;
        margin-left: 0;
    }

    .parrafo__sobremi {
        width: 100%;
        font-size: 0.8em;
        color: #000000;
        font-weight: 500;
        line-height: 30px;
        margin-left: 0;
    }

    .titulo__sobremi--seccion {
        font-size: 0.7em;
        font-weight: 500;
        color: rgb(139, 139, 139);
        margin-bottom: 10px;
    }

    .subtitulo__sobremi--seccion {
        font-size: 0.8em;
        font-weight: 600;
        color: #000000;
    }

    .parrafo__sobremi--seccion {
        font-size: 0.7em;
        color: #000000;
    }

    #seccion2__sobremi {
        margin-left: 0;
        padding-left: 0;
    }
     /* FIN SOBRE MI RESPONSIVE */



}

/* FIN RESPONSIVE */