<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <div class="container__blog">

        <header id="header-blog" class="header">
            <nav class="nav">
                <a class="nav__a" href="../index.html">
                    <img class="nav__img" src="../Image/LOGOPROBANDO.png" alt="logo">
                </a>
                <ul class="nav__ul">
                    <li class="nav__li">
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li class="nav__li">
                        <a href="./trabajos.html">Trabajos</a>
                    </li>
                    <li class="nav__li">
                        <a href="./sobremi.html">Sobre mi</a>
                    </li>
                    <li class="nav__li">
                        <a href="#">Blog</a>
                    </li>
                    <li class="nav__li">
                        <a href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
            <!-- ends nav -->
        </header>


        <!-- ends header -->
            <section class="blog__section1">
                <div class="blog__div1">
                    <div class="blog__noticia1">
                        <h2 class="blog__titulo1">Titulo noticia</h2>
                        <p class="blog__parrafo1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aliquid suscipit odit quo atque saepe iusto veritatis excepturi eum soluta voluptatem possimus, tempore eveniet doloremque fugit voluptates perspiciatis assumenda sequi!</p>
                        <div class="blog__info1">
                            <div>
                                <p class="blog__info1--fecha">Fecha</p>
                            </div>
                            <div>
                                <p class="blog__info1--tema">Ux</p>
                            </div>
                            <div>
                                <p class="blog__info1--tiempo">Tiempo de lectura</p>
                            </div>
                        </div>
                    </div>
                        <img src="../Image/Accesibilidad-UX_Mesa-de-trabajo-1.webp" alt="imagen de la noticia">  
                </div>     
            </section>

            
            <!-- ends section -->
            <section class="blog__section2">
                <div class="blog__div2">
                    <div>
                        <img src="../Image/Accesibilidad-UX_Mesa-de-trabajo-1.webp" alt="imagen de la noticia">      
                    </div>  
                    <div>
                        <p class="blog__tema">Tema</p>
                    </div>
                    <div>
                        <p class="blog__tiempo">Tiempo</p>
                    </div>
                    <div>
                        <h2 class="blog__titulo2">Titulo noticia</h2>
                    </div>
                    <div>
                        <p class="blog__parrafo2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aliquid suscipit odit quo atque saepe iusto veritatis excepturi eum soluta voluptatem possimus, tempore eveniet doloremque fugit voluptates perspiciatis assumenda sequi!</p>
                    </div>
                    <div>
                        <p class="blog__info2--fecha">Fecha</p>
                    </div>
                    <div>
                        <p class="blog__info2--tema">Ux</p>
                    </div>
                    <div>
                        <p class="blog__info2--tiempo">Tiempo de lectura</p>
                    </div>
                </div>
            </section>

            <section class="blog__section3"> 
                <div class="blog__div2">
                    <div">
                        <img src="../Image/Accesibilidad-UX_Mesa-de-trabajo-1.webp" alt="imagen de la noticia">      
                    </div> 
                    <div class="probar">      
                        <h2 class="blog__titulo2">Titulo noticia</h2>
                        <p class="blog__parrafo2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aliquid suscipit odit quo atque saepe iusto veritatis excepturi eum soluta voluptatem possimus, tempore eveniet doloremque fugit voluptates perspiciatis assumenda sequi!</p>
                        <div>
                            <p class="blog__info2--fecha">Fecha</p>
                        </div>
                        <div>
                            <p class="blog__info2--tema">Ux</p>
                        </div>
                        <div>
                            <p class="blog__info2--tiempo">Tiempo de lectura</p>
                        </div>
                    </div>  
                </div>
            </section>

            <!-- ends section -->

        <footer id="blog__footer" class="footer">
            <div class="footer__div1">
                <h2 class="footer__titulo">ignafalco@hotmail.com</h2>
                <p class="footer__parrafo">
                    Me encantaría colaborar contigo. Amo tomar nuevos desafios. Pongamonos en contacto.            </p>
            </div>
            <div class="footer__div2">
                <ul class="footer__ul">
                    <li class="footer__li">
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li class="footer__li">
                        <a href="./trabajos.html">Trabajos</a>
                    </li>
                    <li class="footer__li">
                        <a href="./sobremi.html">Sobre mi</a>
                    </li>
                    <li class="footer__li">
                        <a href="#header-blog">Blog</a>
                    </li>
                    <li class="footer__li">
                        <a href="./contacto.html">Contacto</a>
                    </li>
                </ul>  
                <div class="footer__logo">
                    <a href="https://www.behance.net/ignaciofalco" target="_blank">
                        <img src="../Image/behance.png" alt="logo behance" class="footer__behance">
                    </a>
                    <a href="https://github.com/" target="_blank">
                        <img src="../Image/github.png" alt="logo github" class="footer__github">
                    </a>
                    <a href="https://www.linkedin.com/in/ignacio-falco-12a3131a1/" target="_blank">
                        <img src="../Image/linkedin.png" alt="logo linkedin" class="footer__linkedin">
                    </a>
                </div>
            </div>
        </footer>

    </div>
    
</body>
</html>