<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container__contacto">

        <header id="header-contacto" class="header__contacto">
            <nav class="nav">
                <a class="nav__a" href="../index.html">
                    <img class="nav__img" src="../Image/LOGOPROBANDO.png" alt="logo">
                </a>
                <ul class="nav__ul">
                    <li class="nav__li">
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li class="nav__li">
                        <a href="./trabajos.html">Trabajos</a>
                    </li>
                    <li class="nav__li">
                        <a href="./sobremi.html">Sobre mi</a>
                    </li>
                    <li class="nav__li">
                        <a href="./blog.html">Blog</a>
                    </li>
                    <li class="nav__li">
                        <a href="#">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>

        <aside class="aside__contacto">
            <img src="../Image/me.jpg" alt="foto personal">
        </aside>

        <main class="main__contacto">
            
                <h1 class="contacto__titulo">Pongamos en contacto</h1>
                <p>Siempre estoy buscando trabajar en proyectos interesantes e innovadores, mejorando la experiencia de los usuarios</p>
                <p>Si quieres conversar sobre trabajar juntos, puede escontrarme en Twitter, LinkedIn o Instagram, o enviarme un mail.</p>
    
        </main>

        <footer id="footer-contacto" class="footer">
            <div class="footer__div1">
                <h2 class="footer__titulo">ignafalco@hotmail.com</h2>
                <p class="footer__parrafo">
                    Me encantaría colaborar contigo. Amo tomar nuevos desafios. Pongamonos en contacto.            </p>
            </div>
            <div class="footer__div2">
                <ul class="footer__ul">
                    <li class="footer__li">
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li class="footer__li">
                        <a href="./trabajos.html">Trabajos</a>
                    </li>
                    <li class="footer__li">
                        <a href="./sobremi.html">Sobre mi</a>
                    </li>
                    <li class="footer__li">
                        <a href="./blog.html">Blog</a>
                    </li>
                    <li class="footer__li">
                        <a href="#header-contacto">Contacto</a>
                    </li>
                </ul>  
                <div class="footer__logo">
                    <a href="https://www.behance.net/ignaciofalco" target="_blank">
                        <img src="../Image/behance.png" alt="logo behance" class="footer__behance">
                    </a>
                    <a href="https://github.com/" target="_blank">
                        <img src="../Image/github.png" alt="logo github" class="footer__github">
                    </a>
                    <a href="https://www.linkedin.com/in/ignacio-falco-12a3131a1/" target="_blank">
                        <img src="../Image/linkedin.png" alt="logo linkedin" class="footer__linkedin">
                    </a>
                </div>
            </div>
        </footer>

    </div>

</body>
</html>