<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container__trabajos">

        <header id="header-trabajos" class="header">
            <nav class="nav">
                <a class="nav__a" href="../index.html">
                    <img class="nav__img" src="../Image/LOGOPROBANDO.png" alt="logo">
                </a>
                <ul class="nav__ul">
                    <li class="nav__li">
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li class="nav__li">
                        <a href="#">Trabajos</a>
                    </li>
                    <li class="nav__li">
                        <a href="./sobremi.html">Sobre mi</a>
                    </li>
                    <li class="nav__li">
                        <a href="./blog.html">Blog</a>
                    </li>
                    <li class="nav__li">
                        <a href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        <!-- ends nav -->
        </header>
        <!-- ends header -->
            
            <section class="section1 trabajos1">

                <div class="trabajos1__div">
                    <h3>Empire - UX UI design</h3>
                    <p class="trabajos1__parrafo">Lorem ipsum dolor sit, pariatur nostrum est non asperiores illum repellendus numquam deleniti tempora dolore quo, maiores ullam consequuntur.</p>
                    <div class="trabajos1__divp">
                        <p class="trabajos1__p pink">UX</p>
                        <p class="trabajos1__p lightblue">UI</p>
                    </div>
                        <input class="section__boton trabajos1__boton" type="button" value="Ver ahora">
                </div>

                <div>
                    <img class="trabajos1__imagen" src="../Image/ae3d8a134112135.Y3JvcCwyMjQyLDE3NTMsNjI3LDA.jpg" alt="">
                </div>

            </section>

            <!-- ends section -->
        
        <footer id="footer__trabajos" class="footer">
            <div class="footer__div1">
                <h2 class="footer__titulo">ignafalco@hotmail.com</h2>
                <p class="footer__parrafo">
                    Me encantaría colaborar contigo. Amo tomar nuevos desafios. Pongamonos en contacto.            </p>
            </div>
            <div class="footer__div2">
                <ul class="footer__ul">
                    <li class="footer__li">
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li class="footer__li">
                        <a href="#header-trabajos">Trabajos</a>
                    </li>
                    <li class="footer__li">
                        <a href="./sobremi.html">Sobre mi</a>
                    </li>
                    <li class="footer__li">
                        <a href="./blog.html">Blog</a>
                    </li>
                    <li class="footer__li">
                        <a href="./contacto.html">Contacto</a>
                    </li>
                </ul>  
                <div class="footer__logo">
                    <a href="https://www.behance.net/ignaciofalco" target="_blank">
                        <img src="../Image/behance.png" alt="logo behance" class="footer__behance">
                    </a>
                    <a href="https://github.com/" target="_blank">
                        <img src="../Image/github.png" alt="logo github" class="footer__github">
                    </a>
                    <a href="https://www.linkedin.com/in/ignacio-falco-12a3131a1/" target="_blank">
                        <img src="../Image/linkedin.png" alt="logo linkedin" class="footer__linkedin">
                    </a>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>